* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #2E7D32;
    border-bottom: 2px solid #2E7D32;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #2E7D32;
}

.logo-container img {
    width: 45px;
    height: auto;
}

#navlist {
    list-style: none;
    display: flex;
    gap: 25px;
}

#navlist a,
#navbar>a {
    border: 2px solid #c2e2c3;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

#navlist a:hover,
#navbar>a:hover {
    background: #256628;
    transform: scale(1.05);
}


#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 650px) {

    .fa-solid, .fas {
        font-weight: 900;
        color: white;
    }
    #navlist,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        border: none;      
        outline: none;    
        transition: transform 0.2s ease;
    }
    
    #mobile_btn:focus {
        transform: scale(1.1);
       
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav_item {
        list-style: none;
        text-align: center;
    }

    #mobile_nav_list a {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 30px;
        background: #2E7D32;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease;
        width: 150px; 
        text-align: center;
    }

    #mobile_nav_list a:hover {
        background: #256628;
        transform: scale(1.05);
    }
}
