body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffffff, #2E7D32);
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


header {
  text-align: center;
  margin-bottom: 20px;
}

.logo-topo {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
}

.logo-topo img {
  width: 70px;
  height: auto;
}


.login-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 350px;
  text-align: center;
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container h2 {
  margin-bottom: 20px;
  color: #2E7D32;
  animation: fadeText 1s ease forwards;
}

@keyframes fadeText {
  from { opacity: 0; }
  to { opacity: 1; }
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
  animation: fadeText 1.2s ease forwards;
}

.input-group label {
  font-size: 14px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #2E7D32;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

.btn-login {
  width: 100%;
  padding: 12px;
  background: #2E7D32;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #144b16;
  transform: scale(1.05);
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
  opacity: 0;
  animation: fadeText 1.5s ease forwards;
}

.signup-text a {
  color: #2E7D32;
  text-decoration: none;
  transition: 0.3s;
}

.signup-text a:hover {
  text-decoration: underline;
  color: #2E7D32;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body, p, input, label, a {
  font-family: 'Open Sans', sans-serif;
}

