@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url('header.css');
@import url('footer.css');
@import url('header.css');
@import url('home.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    color: #333;
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: #2E7D32;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

body,
p,
input,
label,
a {
    font-family: 'Roboto', sans-serif;
}

p{
    color: black;
}

span,
a {
    color: white;
    font-size: 1rem;
}
